<app-header></app-header>
   <!-- Page Header Start -->
   <div class="container-fluid bg-dark bg-img p-5 mb-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 text-uppercase text-white">About Us</h1>
            <a routerLink="/">Home</a>
            <i class="far fa-square text-primary px-2"></i>
            <a routerLink="/about">About Us</a>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- About Start -->
<div class="container-fluid pt-5">
	<div class="container">
		<div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
			<h2 class="text-primary font-secondary">About Us</h2>
			<h1 class="display-4 text-uppercase">Welcome To Track Masters </h1>
		</div>
		<div class="row gx-5">
			<div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 400px;">
				<div class="position-relative h-100">
					<img class="position-absolute w-100 h-100" src="/assets/Home/img/about.jpg" style="object-fit: cover;">
				</div>
			</div>
			<div class="col-lg-6 pb-5">
				<h4 class="mb-4">Discover a seamless journey with ' Track Masters  ', your one-stop destination for real-time train tracking. Say goodbye to uncertainty and delays – our platform offers up-to-the-minute train location information, journey planning tools, and instant alerts to keep you informed. </h4>
				<p class="mb-5">Whether you're a daily commuter or planning a special trip, we've got your back. Join our thriving community of travelers and experience a stress-free way to navigate the rails. Visit us today at ' Track Masters  ' and elevate your train travel experience!"</p>
				<div class="row g-5">
					<div class="col-sm-6">
						<div class="d-flex align-items-center justify-content-center bg-primary border-inner mb-4" style="width: 90px; height: 90px;">
							<i class="fa fa-heartbeat fa-2x text-white"></i>
						</div>
						<h4 class="text-uppercase">100% Healthy</h4>
						<p class="mb-0">Experience 100% healthy travel in ultimate style and comfort with our cutting-edge modern trains. Upgrade your journey today..and discover a new level of luxury on the rails.</p>
						
					</div>
					<div class="col-sm-6">
						<div class="d-flex align-items-center justify-content-center bg-primary border-inner mb-4" style="width: 90px; height: 90px;">
							<i class="fa fa-award fa-2x text-white"></i>
						</div>
						<h4 class="text-uppercase">Award-Winning Excellence</h4>
						<p class="mb-0"> Our dedication to providing top-notch train tracking services has been recognized and awarded by industry experts. Discover why we stand out and experience the difference for yourself.</p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- About End -->
<app-footer></app-footer>