   <!-- Navbar Start -->
   <nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-0">
    <a href="index.html" class="navbar-brand d-block d-lg-none">
        <h1 class="m-0 text-uppercase text-white"><i class="fa fa-birthday-cake fs-1 text-primary me-3"></i>Track Master</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto mx-lg-auto py-0">
            <a href="index.html" class="nav-item nav-link active">Home</a>
            <a routerLink="/about" class="nav-item nav-link">About Us</a>
            <a routerLink="/stations" class="nav-item nav-link">STATIONS</a>
            <a routerLink="/testimonial" class="nav-item nav-link">Testimonal</a>
            <a routerLink="/contact" class="nav-item nav-link">Contact Us</a>
            <button routerLink="/security/login" class="nav-item nav-link btn btn-warning">Sign In</button>
            <!-- <button href="contact.html" [ngStyle]="{'background-color':'#e88f2a'}" class="nav-item nav-link">Join Us</button> -->

        </div>
    </div>
</nav>
<!-- Navbar End -->