<app-header></app-header>


<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <h6 class="mb-0 pb-3"><span class="text-light " style="font-size: 25px;">Sign Up </span><span class="text-light " style="font-size: 25px;">Sign In</span></h6>
                    <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
                    <label for="reg-log"></label>
                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">
                            <div class="card-front">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                      <form [formGroup]="registerForm">
                                        <h4 class="mb-4 pb-3 text-light">Sign Up</h4>
                                        <div class="form-group">
                                            <label class="form-label" for="form3Example3c">Your Full Name</label>
                                            <input type="text" name="logname" class="form-style" formControlName="FullName" placeholder="Your Full Name" id="logname" autocomplete="off">
                                            <i class="input-icon uil uil-user"></i>
                                            <span class="text-danger" *ngIf="registerForm.controls['FullName'].hasError('required')">Full Name is Required!</span>
                                        </div>
                                        <div class="form-group mt-2">
                                            <label class="form-label" for="form3Example3c">Your Email</label>
                                            <input type="email" name="logemail" class="form-style" formControlName="Email"  placeholder="Your Email" id="logemail" autocomplete="off">
                                            <i class="input-icon uil uil-at"></i>
                                            <span class="text-danger" *ngIf="registerForm.controls['Email'].hasError('required')">Email is Required!</span>
                                            <span class="text-danger" *ngIf="registerForm.controls['Email'].hasError('email')">Please Enter Valid Email!</span>
                      
                                        </div>
                                        <div class="form-group mt-2">
                                            <label class="form-label" for="form3Example3c">Your Password</label>
                                            <input type="password" name="logpass" class="form-style" formControlName="Password" placeholder="Your Password" id="logpass" autocomplete="off">
                                            <i class="input-icon uil uil-lock-alt"></i>
                                            <span class="text-danger" *ngIf="registerForm.controls['Password'].hasError('required')">Passwordis Required!</span>
                                            <span class="text-danger" *ngIf="registerForm.controls['Password'].hasError('minlength')">Please Enter strong Password!</span>
                      
                                        </div>
                                        <a href="#" class="btn mt-4">submit</a>
                                    </form>
                                    </div>
                                </div>
                            </div>

                            <div class="card-back">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h4 class="mb-4 pb-3 text-light">Sign In</h4>
                                        <div class="form-group">
                                            <input type="email" name="logemail" class="form-style"   id="logemail" autocomplete="off">
                                            <i class="input-icon uil uil-at"></i>
                                        </div>
                                        <div class="form-group mt-2">
                                            <input type="password" name="logpass" class="form-style" id="logpass" autocomplete="off">
                                            <i class="input-icon uil uil-lock-alt"></i>
                                        </div>
                                        <a href="#" class="btn mt-4">submit</a>
                                        <p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your password?</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
