<div class="booking_ocline">
    <div class="container">
       <div class="row">
          <div class="col">
             <div class="book_room">
                <h1></h1>
                <form class="book_now">
                   <div class="row">
                    <div class="col-md-4">
                        <span>From</span>
                        <select class="online_book" name="city">
                            <option class="text-dark" value="">Select a city</option>
                            <option class="text-dark"  value="Amman">Amman</option>
                            <option class="text-dark"  value="Irbid">Irbid</option>
                            <option class="text-dark"  value="Zarqa">Zarqa</option>
                            <option class="text-dark"  value="Aqaba">Aqaba</option>
                            <!-- Add more Jordanian cities here -->
                        </select>
                    </div>
                    <div class="col-md-4">
                        <span>To</span>
                        <select class="online_book" name="city">
                            <option class="text-dark" value="">Select a city</option>
                            <option class="text-dark"  value="Amman">Amman</option>
                            <option class="text-dark"  value="Irbid">Irbid</option>
                            <option class="text-dark"  value="Zarqa">Zarqa</option>
                            <option class="text-dark"  value="Aqaba">Aqaba</option>
                            <!-- Add more Jordanian cities here -->
                        </select>
                    </div>
                    
                      <div class="col-md-4">
                         <span>Departure Date</span>
                         <input class="online_book" placeholder="dd/mm/yyyy" type="date" name="dd/mm/yyyy">
                      </div>
                      <div class="col-md-12">
                        <a href="" class="btn btn-primary  border-inner py-3 px-5 me-3">Search Trains</a>
                    </div>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
 </div>
