<app-header></app-header>
 <!-- Hero Start -->
 <div class="container-fluid bg-primary py-5 mb-5 hero-header">
	<div class="container py-5">
		<div class="row justify-content-start">
			<div class="col-lg-8 text-center text-lg-start">
				<h1 class="font-secondary text-primary mb-4">Super</h1>
				<h1 class="display-1 text-uppercase text-white mb-4">Track Masters </h1>
				<h1 class="text text-white">Real-time train tracking ...				</h1>
				<div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
					<a routerLink="/security/register" class="btn btn-primary border-inner py-3 px-5 me-5">Sign Up</a>
					<button type="button" class="btn-play" data-bs-toggle="modal"
						data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
						<span></span>
					</button>
					<h5 class="font-weight-normal text-white m-0 ms-4 d-none d-sm-block">Play Video</h5>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Hero End -->


<!-- Video Modal Start -->
<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content rounded-0">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<!-- 16:9 aspect ratio -->
				<div class="ratio ratio-16x9">
					<iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
						allow="autoplay"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Video Modal End -->


<!-- About Start -->
<div class="container-fluid pt-5">
	<div class="container">
		<div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
			<h2 class="text-primary font-secondary">About Us</h2>
			<h1 class="display-4 text-uppercase">Welcome To Track Masters </h1>
		</div>
		<div class="row gx-5">
			<div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 400px;">
				<div class="position-relative h-100">
					<img class="position-absolute w-100 h-100" src="/assets/Home/img/about.jpg" style="object-fit: cover;">
				</div>
			</div>
			<div class="col-lg-6 pb-5">
				<h4 class="mb-4">Discover a seamless journey with ' Track Masters  ', your one-stop destination for real-time train tracking. Say goodbye to uncertainty and delays – our platform offers up-to-the-minute train location information, journey planning tools, and instant alerts to keep you informed. </h4>
				<p class="mb-5">Whether you're a daily commuter or planning a special trip, we've got your back. Join our thriving community of travelers and experience a stress-free way to navigate the rails. Visit us today at ' Track Masters  ' and elevate your train travel experience!"</p>
				<div class="row g-5">
					<div class="col-sm-6">
						<div class="d-flex align-items-center justify-content-center bg-primary border-inner mb-4" style="width: 90px; height: 90px;">
							<i class="fa fa-heartbeat fa-2x text-white"></i>
						</div>
						<h4 class="text-uppercase">100% Healthy</h4>
						<p class="mb-0">Experience 100% healthy travel in ultimate style and comfort with our cutting-edge modern trains. Upgrade your journey today..and discover a new level of luxury on the rails.</p>
						
					</div>
					<div class="col-sm-6">
						<div class="d-flex align-items-center justify-content-center bg-primary border-inner mb-4" style="width: 90px; height: 90px;">
							<i class="fa fa-award fa-2x text-white"></i>
						</div>
						<h4 class="text-uppercase">Award-Winning Excellence</h4>
						<p class="mb-0"> Our dedication to providing top-notch train tracking services has been recognized and awarded by industry experts. Discover why we stand out and experience the difference for yourself.</p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- About End -->


<!-- Facts Start -->
<div class="container-fluid bg-img py-5 mb-5">
	<div class="container py-5">
		<div class="row gx-5 gy-4">
			<div class="col-lg-3 col-md-6">
				<div class="d-flex">
					<div class="bg-primary border-inner d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
						<i class="fa fa-star text-white"></i>
					</div>
					<div class="ps-4">
						<h6 class="text-primary text-uppercase">Our Experience</h6>
						<h1 class="display-5 text-white mb-0" data-toggle="counter-up">20</h1>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="d-flex">
					<div class="bg-primary border-inner d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
						<i class="fa fa-users text-white"></i>
					</div>
					<div class="ps-4">
						<h6 class="text-primary text-uppercase">Users</h6>
						<h1 class="display-5 text-white mb-0" data-toggle="counter-up">1245</h1>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="d-flex">
					<div class="bg-primary border-inner d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
						<i class="fa fa-check text-white"></i>
					</div>
					<div class="ps-4">
						<h6 class="text-primary text-uppercase">Complete Trpis</h6>
						<h1 class="display-5 text-white mb-0" data-toggle="counter-up">345</h1>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="d-flex">
					<div class="bg-primary border-inner d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
						<i class="fa fa-mug-hot text-white"></i>
					</div>
					<div class="ps-4">
						<h6 class="text-primary text-uppercase">Happy Clients</h6>
						<h1 class="display-5 text-white mb-0" data-toggle="counter-up">1345</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Facts End -->


<!-- Products Start -->
<div class="container-fluid about py-5">
	<div class="container">
		<div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
			<h2 class="text-primary font-secondary">Train Class Menu & Pricing</h2>
			<h1 class="display-4 text-uppercase">Explore Our Train Classes</h1>
		</div>
		<div class="tab-class text-center">
			<ul class="nav nav-pills d-inline-flex justify-content-center bg-dark text-uppercase border-inner p-4 mb-5">
				<li class="nav-item">
					<a class="nav-link text-white active" data-bs-toggle="pill" href="#tab-1">First Class</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" data-bs-toggle="pill" href="#tab-2">Business Class</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" data-bs-toggle="pill" href="#tab-3">Economy Class</a>
				</li>
			</ul>
			<div class="tab-content">
				<div id="tab-1" class="tab-pane fade show p-0 active">
					<div class="row g-3">
						<div class="col-lg-6">
							<div class="d-flex h-100">
								<div class="flex-shrink-0">
									<img class="img-fluid" src="/assets/Home/img/cake-1.jpg" alt="" style="width: 150px; height: 85px;">
									<h4 class="bg-dark text-primary p-2 m-0">$200</h4>
								</div>
								<div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
									<h5 class="text-uppercase">Platinum Experience</h5>
									<span>Elevate your journey with gourmet meals and an exclusive lounge car. Prices start at $200 per person.</span>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="d-flex h-100">
								<div class="flex-shrink-0">
									<img class="img-fluid" src="/assets/Home/img/cake-33.jpg" alt="" style="width: 150px; height: 85px;">
									<h4 class="bg-dark text-primary p-2 m-0">$250.00</h4>
								</div>
								<div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
									<h5 class="text-uppercase">Diamond Luxe</h5>
									<span>Experience VIP treatment with gourmet dining, premium service, and a lavish lounge. Prices start at $250 per person.</span>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="d-flex h-100">
								<div class="flex-shrink-0">
									<img class="img-fluid" src="/assets/Home/img/cake-2.jpg" alt="" style="width: 150px; height: 85px;">
									<h4 class="bg-dark text-primary p-2 m-0">$260.00</h4>
								</div>
								<div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
									<h5 class="text-uppercase">Royal Elegance</h5>
									<span> Delight in elite dining experiences, premium service, and a luxurious lounge. Prices start at $260 per person.</span>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="d-flex h-100">
								<div class="flex-shrink-0">
									<img class="img-fluid" src="/assets/Home/img/cake-4.jpg" alt="" style="width: 150px; height: 85px;">
									<h4 class="bg-dark text-primary p-2 m-0">$270.00</h4>
								</div>
								<div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
									<h5 class="text-uppercase">Epicurean Escape</h5>
									<span> Indulge in a culinary adventure with gourmet dishes and an opulent lounge. Prices start at $270 per person.</span>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="d-flex h-100">
								<div class="flex-shrink-0">
									<img class="img-fluid" src="/assets/Home/img/cake-5.jpg" alt="" style="width: 150px; height: 85px;">
									<h4 class="bg-dark text-primary p-2 m-0">$230.00</h4>
								</div>
								<div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
									<h5 class="text-uppercase">Luxe Gastronomy</h5>
									<span>Immerse yourself in luxury with gourmet cuisine, top-tier service, and a plush lounge. Prices start at $230 per person.
									</span>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="d-flex h-100">
								<div class="flex-shrink-0">
									<img class="img-fluid" src="/assets/Home/img/cake-6.jpg" alt="" style="width: 150px; height: 85px;">
									<h4 class="bg-dark text-primary p-2 m-0">$270.00</h4>
								</div>
								<div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
									<h5 class="text-uppercase">Opulent Vintage</h5>
									<span> Savor exquisite gourmet meals, expertly crafted pairings, and revel in the exclusivity of a private lounge. Prices start at $270 per person.</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="tab-2" class="tab-pane fade show p-0">
					<div class="row g-3">
						<div class="col-lg-6">
							<div class="d-flex h-100">
								<div class="flex-shrink-0">
									<img class="img-fluid" src="/assets/Home/img/cake-2.jpg" alt="" style="width: 150px; height: 85px;">
									<h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
								</div>
								<div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
									<h5 class="text-uppercase">Business </h5>
									<span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="d-flex h-100">
								<div class="flex-shrink-0">
									<img class="img-fluid" src="/assets/Home/img/cake-2.jpg" alt="" style="width: 150px; height: 85px;">
									<h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
								</div>
								<div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
									<h5 class="text-uppercase">Business </h5>
									<span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="d-flex h-100">
								<div class="flex-shrink-0">
									<img class="img-fluid" src="/assets/Home/img/cake-2.jpg" alt="" style="width: 150px; height: 85px;">
									<h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
								</div>
								<div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
									<h5 class="text-uppercase">Business </h5>
									<span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="d-flex h-100">
								<div class="flex-shrink-0">
									<img class="img-fluid" src="/assets/Home/img/cake-2.jpg" alt="" style="width: 150px; height: 85px;">
									<h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
								</div>
								<div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
									<h5 class="text-uppercase">Business </h5>
									<span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="d-flex h-100">
								<div class="flex-shrink-0">
									<img class="img-fluid" src="/assets/Home/img/cake-2.jpg" alt="" style="width: 150px; height: 85px;">
									<h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
								</div>
								<div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
									<h5 class="text-uppercase">Business </h5>
									<span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="d-flex h-100">
								<div class="flex-shrink-0">
									<img class="img-fluid" src="/assets/Home/img/cake-2.jpg" alt="" style="width: 150px; height: 85px;">
									<h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
								</div>
								<div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
									<h5 class="text-uppercase">Business </h5>
									<span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="tab-3" class="tab-pane fade show p-0">
					<div class="row g-3">
						<div class="col-lg-6">
							<div class="d-flex h-100">
								<div class="flex-shrink-0">
									<img class="img-fluid" src="/assets/Home/img/cake-3.jpg" alt="" style="width: 150px; height: 85px;">
									<h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
								</div>
								<div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
									<h5 class="text-uppercase">Custom </h5>
									<span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="d-flex h-100">
								<div class="flex-shrink-0">
									<img class="img-fluid" src="/assets/Home/img/cake-3.jpg" alt="" style="width: 150px; height: 85px;">
									<h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
								</div>
								<div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
									<h5 class="text-uppercase">Custom </h5>
									<span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="d-flex h-100">
								<div class="flex-shrink-0">
									<img class="img-fluid" src="/assets/Home/img/cake-3.jpg" alt="" style="width: 150px; height: 85px;">
									<h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
								</div>
								<div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
									<h5 class="text-uppercase">Custom </h5>
									<span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="d-flex h-100">
								<div class="flex-shrink-0">
									<img class="img-fluid" src="/assets/Home/img/cake-3.jpg" alt="" style="width: 150px; height: 85px;">
									<h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
								</div>
								<div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
									<h5 class="text-uppercase">Custom </h5>
									<span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="d-flex h-100">
								<div class="flex-shrink-0">
									<img class="img-fluid" src="/assets/Home/img/cake-3.jpg" alt="" style="width: 150px; height: 85px;">
									<h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
								</div>
								<div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
									<h5 class="text-uppercase">Custom </h5>
									<span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="d-flex h-100">
								<div class="flex-shrink-0">
									<img class="img-fluid" src="/assets/Home/img/cake-3.jpg" alt="" style="width: 150px; height: 85px;">
									<h4 class="bg-dark text-primary p-2 m-0">$99.00</h4>
								</div>
								<div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
									<h5 class="text-uppercase">Custom </h5>
									<span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Products End -->


<!-- Service Start -->
<div class="container-fluid service position-relative px-5 mt-5" style="margin-bottom: 135px;">
	<div class="container">
		<div class="row g-5">
			<div class="col-lg-4 col-md-6">
				<div class="bg-primary border-inner text-center text-white p-5">
					<h4 class="text-uppercase mb-3">First Class</h4>
					<p>Indulge in the pinnacle of luxury, spacious seats, gourmet dining, and exclusive lounges.</p>
					<a class="text-uppercase text-dark" href="">Read More <i class="bi bi-arrow-right"></i></a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="bg-primary border-inner text-center text-white p-5">
					<h4 class="text-uppercase mb-3">Business Class</h4>
					<p>Efficiency meets comfort with spacious seating, meal service, and Wi-Fi for work or relaxation.</p>
					<a class="text-uppercase text-dark" href="">Read More <i class="bi bi-arrow-right"></i></a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="bg-primary border-inner text-center text-white p-5">
					<h4 class="text-uppercase mb-3">Economy Class </h4>
					<p>Affordable and comfortable travel with meal options and entertainment for all passengers.




					</p>
					<a class="text-uppercase text-dark" href="">Read More <i class="bi bi-arrow-right"></i></a>
				</div>
			</div>
			<div class="col-lg-12 col-md-6 text-center">
				<h1 class="text-uppercase text-light mb-4">30% Discount For This Summer</h1>
				<a href="" class="btn btn-primary border-inner py-3 px-5">Book Now</a>
			</div>
		</div>
	</div>
</div>
<!-- Service Start -->


<!-- Team Start -->
<div class="container-fluid py-5">
	<div class="container">
		<div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
			<h2 class="text-primary font-secondary">Team Members</h2>
			<h1 class="display-4 text-uppercase">Meet Our Train Team</h1>
		</div>
		<div class="row g-5">
			<div class="col-lg-4 col-md-6">
				<div class="team-item">
					<div class="position-relative overflow-hidden">
						<img class="img-fluid w-100" src="/assets/Home/img/team-1.jpg" alt="">
						<div class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
							<div class="d-flex align-items-center justify-content-start">
								<a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
								<a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
								<a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
							</div>
						</div>
					</div>
					<div class="bg-dark border-inner text-center p-4">
						<h4 class="text-uppercase text-primary">Train Master</h4>
						<p class="text-white m-0">Ethan Grant</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="team-item">
					<div class="position-relative overflow-hidden">
						<img class="img-fluid w-100" src="/assets/Home/img/team-2.jpg" alt="">
						<div class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
							<div class="d-flex align-items-center justify-content-start">
								<a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
								<a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
								<a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
							</div>
						</div>
					</div>
					<div class="bg-dark border-inner text-center p-4">
						<h4 class="text-uppercase text-primary">Train Driver</h4>
						<p class="text-white m-0">Mark Rodriguez</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="team-item">
					<div class="position-relative overflow-hidden">
						<img class="img-fluid w-100" src="/assets/Home/img/team-3.jpg" alt="">
						<div class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
							<div class="d-flex align-items-center justify-content-start">
								<a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
								<a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
								<a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
							</div>
						</div>
					</div>
					<div class="bg-dark border-inner text-center p-4">
						<h4 class="text-uppercase text-primary">Supporter</h4>
						<p class="text-white m-0">Jackson Smith</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Team End -->


<!-- Offer Start -->
<div class="container-fluid bg-offer my-5 py-5">
	<div class="container py-5">
		<div class="row gx-5 justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title position-relative text-center mx-auto mb-4 pb-3" style="max-width: 600px;">
					<h2 class="text-primary font-secondary">Train Tickets</h2>
					<h1 class="display-4 text-uppercase text-white">Book a Ticket Online</h1>
					
				</div>
				
			</div>
			<div class="section-title position-relative text-center mx-auto mb-4 pb-3">
				
				<app-search></app-search>
				
			</div>
		</div>
	</div>
</div>

<!-- Offer End -->

<app-testimonial></app-testimonial>

<app-footer></app-footer>